    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->
        <ul>
            @if (ViewBag.MenuModel != null)
            {
                foreach (var system in (ViewBag.MenuModel as List<SSoft.MVC.DisplayValue>).GroupBy(t => t.Value).Select(t => t.First()).ToList())
                {
                    <li class="@Html.RouteIf("index", "active")">
                        <a href="#" title="基本資料">@Html.Raw("<i class='" + system.Display4 + "'></i>")> <span class="menu-item-parent">@system.Display</span></a>
                        <ul>
                         
                            @foreach (var programs in system.ChildDisplayValues)
                            {
                                <li class="@Html.RouteIf("index", "active")">
                                    <a href="@Url.Action("index", programs.Display1.ToUpper())" title=@programs.Display><span class="menu-item-parent">@programs.Display</span></a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
            @*<li class="@Html.RouteIf("index", "active")">
                <a href="#" title="基本資料"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">基本資料</span></a>
                <ul>
                    <li class="@Html.RouteIf("index", "active")">
                        <a href="@Url.Action("index", "BAS001")" title="灌排渠道代碼"><span class="menu-item-parent">灌排渠道代碼</span></a>
                    </li>
                    <li class="@Html.RouteIf("social", "active")">
                        <a href="@Url.Action("social", "BAS002")" title="渠道基本資料"><span class="menu-item-parent">渠道基本資料</span></a>
                    </li>
                    <li class="@Html.RouteIf("social", "active")">
                        <a href="@Url.Action("social", "BAS003")" title="有效雨量"><span class="menu-item-parent">有效雨量</span></a>
                    </li>
                </ul>
            </li>
            <li class="top-menu-invisible @Html.RouteIf(" intel", "active" )">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">主檔作業</span></a>
                <ul>
                    <li class="@Html.RouteIf("applayout", "active")">
                        <a href="@Url.Action("applayout", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">App Layouts</span></a>
                    </li>
                    <li class="@Html.RouteIf("skins", "active")">
                        <a href="@Url.Action("skins", "intel")" title="Dashboard"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Prebuilt Skins</span></a>
                    </li>
                    <li class="@Html.RouteIf("settings", "active")">
                        <a href="@Url.Action("settings", "intel")" title="Dashboard"><i class="fa fa-cube"></i> <span class="menu-item-parent">App Settings</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("graphs", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">統計報表</span></a>
                <ul>
                    <li class="@Html.RouteIf("flot", "active")">
                        <a href="@Url.Action("flot", "graphs")">Flot Charts</a>
                    </li>
                    <li class="@Html.RouteIf("morris", "active")">
                        <a href="@Url.Action("morris", "graphs")">Morris Charts</a>
                    </li>
                    <li class="@Html.RouteIf("inline", "active")">
                        <a href="@Url.Action("inline", "graphs")">Inline Charts</a>
                    </li>
                    <li class="@Html.RouteIf("dygraphs", "active")">
                        <a href="@Url.Action("dygraphs", "graphs")">Dygraphs</a>
                    </li>
                    <li class="@Html.RouteIf("chartjs", "active")">
                        <a href="@Url.Action("chartjs", "graphs")">Chart.js</a>
                    </li>
                    <li class="@Html.RouteIf("highcharts", "active")">
                        <a href="@Url.Action("highcharts", "graphs")">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>*@

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->